<!-- Start Location -->
                <div class="map-box">
                    <!-- Inser Google Map Here (226x170px) -->
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1293.2864212600166!2d34.4740501!3d49.58694600000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d828ea272254fb%3A0x887508ec69ba1e2c!2zNzhhLCDQstGD0LsuINCf0L7Qu9C-0LLQutCwLCA3ONCwLCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDM2MDAw!5e0!3m2!1sru!2sua!4v1422362163646" width="226" height="169" frameborder="0" style="border:0"></iframe>
                    </div>
                    <!-- End Google Map -->
                </div>
                <div class="info-box">
                    <strong>Головний офіс:</strong>
                    <div class="location-box">
                        <p>36034 Україна, Полтавська область, м. Полтава,
                            вул. Половка, 78-А
                        </p>
                    </div>
                </div>
                <div class="info-box">
                    <strong>Телефони:</strong>
                    <p>
                        0532 66-29-43<br>
                        0532 66-19-71<br>
                        096 269-07-90
                    </p>
                </div>
                <div class="info-box">
                    <strong>Глобинська філія:</strong>
                    <p>
                        39000 Україна, Полтавська область, м. Глобине, вул. Промкооперації, 3
                    </p>
                </div>
                <div class="info-box">
                <strong>Телефони:</strong>
                    <p>
                        0532 66-29-43<br>
                        0532 66-19-71<br>
                        096 269-07-90
                    </p>
                </div>
                <div class="info-box">
                    <strong>Email:</strong>
                    <p>
                        <a href="mailto:agromehanik@gmail.com">agromehanik@gmail.com</a>
                    </p>
                </div>
                <!-- End Location -->